<div class="main">
    <div class="chat">
        <div class="submain">
            <div class="hello">
                <div class="hehello">
                    <p class="yuza">
                        text
                    
                        <span class="nichiji">
                            2020/08/04(tue) 22:20
                            
                                  
                        </span>

                    </p>
                    <p class="honbun">
                        あああああああああああああああああ

                    </p>

                </div>
                <div class="hehehello">
                    <ul class="one">
                        <li class="two">

                        
                            <a class="san">
                                edit

                            </a>
                        

                        </li>
                        <li class="ttwo">
                            <a class="sasan">
                                delete

                            </a>

                        </li>


                    </ul>
                </div>

            </div>

        </div>

    </div>
    <div class="chat-form">
        <form class="gohan">
            <input class="text" type="tesxt">

            <input class="send" type="submit" value="SEND">
        </form>

    </div>
</div>